In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('Social_Net_class.csv')

In [13]:
df.head(5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [14]:
x = df[['Age','EstimatedSalary']]
y = df['Purchased']

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=56)

In [17]:
from sklearn.tree import DecisionTreeClassifier

In [64]:
model = DecisionTreeClassifier(criterion='entropy',min_samples_leaf=4,max_depth=4)
model.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=4,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=4, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [65]:
model.score(x_test,y_test)

0.9

In [66]:
model.score(x_train,y_train)

0.9233333333333333