In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Social_Net_class.csv')
df.head(5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
x = df[['Age','EstimatedSalary']]
y = df['Purchased']

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.75,random_state=56)     #train_size/tesst_size can be given intechangebly

In [6]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((300, 2), (100, 2), (300,), (100,))

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
scaler = StandardScaler()
scaler.fit(x_train)
x_train_scaled = scaler.transform(x_train)
#testing
x_test_scaled = scaler.transform(x_test)

In [10]:
from sklearn.neighbors import KNeighborsClassifier as KNN

In [11]:
model = KNN(n_neighbors=3)
model.fit(x_train_scaled,y_train)
model.score(x_test_scaled,y_test)

0.93

In [12]:
y_predict = model.predict(x_test_scaled)

In [13]:
sum(y_predict == y_test)

93

In [ ]:
plt.scatter(x_train[y_train==0])