In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [20]:
df_train = pd.read_csv('train.csv',na_values='',keep_default_na=False)
df_test = pd.read_csv('test.csv',na_values='',keep_default_na=False)

In [41]:
df = pd.concat([df_train,df_test],keys=['train','test'],sort=False)

C:\Users\athar\Anaconda3\lib\site-packages\pandas\core\ops\__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

TypeError: Cannot do inplace boolean setting on mixed-types with a non np.nan value

In [29]:
df.head()

         Id  MSSubClass MSZoning LotFrontage  LotArea Street Alley LotShape  \
train 0   1          60       RL          65     8450   Pave    NA      Reg
      1   2          20       RL          80     9600   Pave    NA      Reg
      2   3          60       RL          68    11250   Pave    NA      IR1
      3   4          70       RL          60     9550   Pave    NA      IR1
      4   5          60       RL          84    14260   Pave    NA      IR1

        LandContour Utilities  ... PoolArea PoolQC Fence MiscFeature MiscVal  \
train 0         Lvl    AllPub  ...        0     NA    NA          NA       0
      1         Lvl    AllPub  ...        0     NA    NA          NA       0
      2         Lvl    AllPub  ...        0     NA    NA          NA       0
      3         Lvl    AllPub  ...        0     NA    NA          NA       0
      4         Lvl    AllPub  ...        0     NA    NA          NA       0

        MoSold YrSold  SaleType  SaleCondition  SalePrice
train 0      2   2008        WD         Normal   208500.0
      1      5   2007        WD         Normal   181500.0
      2      9   2008        WD         Normal   223500.0
      3      2   2006        WD        Abnorml   140000.0
      4     12   2008        WD         Normal   250000.0

[5 rows x 81 columns]

In [30]:
df.tail()

             Id  MSSubClass MSZoning LotFrontage  LotArea Street Alley  \
test 1454  2915         160       RM          21     1936   Pave    NA
     1455  2916         160       RM          21     1894   Pave    NA
     1456  2917          20       RL         160    20000   Pave    NA
     1457  2918          85       RL          62    10441   Pave    NA
     1458  2919          60       RL          74     9627   Pave    NA

          LotShape LandContour Utilities  ... PoolArea PoolQC  Fence  \
test 1454      Reg         Lvl    AllPub  ...        0     NA     NA
     1455      Reg         Lvl    AllPub  ...        0     NA     NA
     1456      Reg         Lvl    AllPub  ...        0     NA     NA
     1457      Reg         Lvl    AllPub  ...        0     NA  MnPrv
     1458      Reg         Lvl    AllPub  ...        0     NA     NA

          MiscFeature MiscVal MoSold YrSold  SaleType  SaleCondition  \
test 1454          NA       0      6   2006        WD         Normal
     1455          NA       0      4   2006        WD        Abnorml
     1456          NA       0      9   2006        WD        Abnorml
     1457        Shed     700      7   2006        WD         Normal
     1458          NA       0     11   2006        WD         Normal

           SalePrice
test 1454        NaN
     1455        NaN
     1456        NaN
     1457        NaN
     1458        NaN

[5 rows x 81 columns]

In [14]:
df_test.tail()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [31]:
len(df.columns)

81

In [32]:
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage       object
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice        float64
Length: 81, dtype: object

In [33]:
columns_numeric = list(df.dtypes[(df.dtypes=='int64') | (df.dtypes=='float64') ].index)
len(columns_numeric)

27

In [34]:
columns_object = list(df.dtypes[df.dtypes=='object'].index)
len(columns_object)

54

In [35]:
df[columns_numeric].info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 2919 entries, (train, 0) to (test, 1458)
Data columns (total 27 columns):
Id               2919 non-null int64
MSSubClass       2919 non-null int64
LotArea          2919 non-null int64
OverallQual      2919 non-null int64
OverallCond      2919 non-null int64
YearBuilt        2919 non-null int64
YearRemodAdd     2919 non-null int64
1stFlrSF         2919 non-null int64
2ndFlrSF         2919 non-null int64
LowQualFinSF     2919 non-null int64
GrLivArea        2919 non-null int64
FullBath         2919 non-null int64
HalfBath         2919 non-null int64
BedroomAbvGr     2919 non-null int64
KitchenAbvGr     2919 non-null int64
TotRmsAbvGrd     2919 non-null int64
Fireplaces       2919 non-null int64
WoodDeckSF       2919 non-null int64
OpenPorchSF      2919 non-null int64
EnclosedPorch    2919 non-null int64
3SsnPorch        2919 non-null int64
ScreenPorch      2919 non-null int64
PoolArea         2919 non-null int64
MiscVal          2919 non-null int64
MoSold           2919 non-null int64
YrSold           2919 non-null int64
SalePrice        1460 non-null float64
dtypes: float64(1), int64(26)
memory usage: 635.7+ KB

In [36]:
df[columns_numeric].isna().sum()         #here columnn_names without inverted commas as it is a list

Id                  0
MSSubClass          0
LotArea             0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
1stFlrSF            0
2ndFlrSF            0
LowQualFinSF        0
GrLivArea           0
FullBath            0
HalfBath            0
BedroomAbvGr        0
KitchenAbvGr        0
TotRmsAbvGrd        0
Fireplaces          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
MiscVal             0
MoSold              0
YrSold              0
SalePrice        1459
dtype: int64

In [21]:
df_train[columns_object].isna().sum()

MSZoning         0
Street           0
Alley            0
LotShape         0
LandContour      0
Utilities        0
LotConfig        0
LandSlope        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
HouseStyle       0
RoofStyle        0
RoofMatl         0
Exterior1st      0
Exterior2nd      0
MasVnrType       0
ExterQual        0
ExterCond        0
Foundation       0
BsmtQual         0
BsmtCond         0
BsmtExposure     0
BsmtFinType1     0
BsmtFinType2     0
Heating          0
HeatingQC        0
CentralAir       0
Electrical       0
KitchenQual      0
Functional       0
FireplaceQu      0
GarageType       0
GarageFinish     0
GarageQual       0
GarageCond       0
PavedDrive       0
PoolQC           0
Fence            0
MiscFeature      0
SaleType         0
SaleCondition    0
dtype: int64

In [32]:
for col in columns_numeric:
    df_train[col].fillna(value = df_train[col].median(), inplace=True)

In [38]:
df[columns_object].info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 2919 entries, (train, 0) to (test, 1458)
Data columns (total 54 columns):
MSZoning         2919 non-null object
LotFrontage      2919 non-null object
Street           2919 non-null object
Alley            2919 non-null object
LotShape         2919 non-null object
LandContour      2919 non-null object
Utilities        2919 non-null object
LotConfig        2919 non-null object
LandSlope        2919 non-null object
Neighborhood     2919 non-null object
Condition1       2919 non-null object
Condition2       2919 non-null object
BldgType         2919 non-null object
HouseStyle       2919 non-null object
RoofStyle        2919 non-null object
RoofMatl         2919 non-null object
Exterior1st      2919 non-null object
Exterior2nd      2919 non-null object
MasVnrType       2919 non-null object
MasVnrArea       2919 non-null object
ExterQual        2919 non-null object
ExterCond        2919 non-null object
Foundation       2919 non-null object
BsmtQual         2919 non-null object
BsmtCond         2919 non-null object
BsmtExposure     2919 non-null object
BsmtFinType1     2919 non-null object
BsmtFinSF1       2919 non-null object
BsmtFinType2     2919 non-null object
BsmtFinSF2       2919 non-null object
BsmtUnfSF        2919 non-null object
TotalBsmtSF      2919 non-null object
Heating          2919 non-null object
HeatingQC        2919 non-null object
CentralAir       2919 non-null object
Electrical       2919 non-null object
BsmtFullBath     2919 non-null object
BsmtHalfBath     2919 non-null object
KitchenQual      2919 non-null object
Functional       2919 non-null object
FireplaceQu      2919 non-null object
GarageType       2919 non-null object
GarageYrBlt      2919 non-null object
GarageFinish     2919 non-null object
GarageCars       2919 non-null object
GarageArea       2919 non-null object
GarageQual       2919 non-null object
GarageCond       2919 non-null object
PavedDrive       2919 non-null object
PoolQC           2919 non-null object
Fence            2919 non-null object
MiscFeature      2919 non-null object
SaleType         2919 non-null object
SaleCondition    2919 non-null object
dtypes: object(54)
memory usage: 1.2+ MB

In [39]:
df['LotFrontage'].unique()

array(['65', '80', '68', '60', '84', '85', '75', 'NA', '51', '50', '70',
       '91', '72', '66', '101', '57', '44', '110', '98', '47', '108',
       '112', '74', '115', '61', '48', '33', '52', '100', '24', '89',
       '63', '76', '81', '95', '69', '21', '32', '78', '121', '122', '40',
       '105', '73', '77', '64', '94', '34', '90', '55', '88', '82', '71',
       '120', '107', '92', '134', '62', '86', '141', '97', '54', '41',
       '79', '174', '99', '67', '83', '43', '103', '93', '30', '129',
       '140', '35', '37', '118', '87', '116', '150', '111', '49', '96',
       '59', '36', '56', '102', '58', '38', '109', '130', '53', '137',
       '45', '106', '104', '42', '39', '144', '114', '128', '149', '313',
       '168', '182', '138', '160', '152', '124', '153', '46', '26', '25',
       '119', '31', '28', '117', '113', '125', '135', '136', '22', '123',
       '195', '155', '126', '200', '131', '133'], dtype=object)