In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [3]:
df = pd.concat([df_train,df_test],sort=False)

In [112]:
df_0 = df.copy()

# Filling null values

In [5]:
df["LotFrontage"].fillna(0, inplace = True)
df["MasVnrArea"].fillna(0, inplace = True)
df["BsmtFinSF1"].fillna(0, inplace = True)
df["BsmtFinSF2"].fillna(0, inplace = True)
df["BsmtUnfSF"].fillna(0, inplace = True)
df["TotalBsmtSF"].fillna(0, inplace = True)
df["GarageCars"].fillna(0, inplace = True)
df["GarageArea"].fillna(0, inplace = True)

In [6]:
df["Alley"].fillna('No', inplace = True)
df["MasVnrType"].fillna('No', inplace = True)
df["GarageType"].fillna('No', inplace = True)
df["MiscFeature"].fillna('No', inplace = True)
df["BsmtQual"].fillna('No', inplace = True)
df["BsmtCond"].fillna('No', inplace = True)
df["BsmtExposure"].fillna('No', inplace = True)
df["BsmtFinType1"].fillna('No', inplace = True)
df["BsmtFinType2"].fillna('No', inplace = True)
df["FireplaceQu"].fillna('No', inplace = True)
df["PoolQC"].fillna('No', inplace = True)
df["Fence"].fillna('No', inplace = True)

In [7]:
null_num =['BsmtFullBath', 'BsmtHalfBath']
null_obj = ['MSZoning', 'Utilities', 'Exterior1st', 'Exterior2nd', 'Electrical', 'KitchenQual', 'Functional', 'SaleType']

In [8]:
for x in null_num:
    df[x].fillna(df[x].median(), inplace = True)

In [9]:
for x in null_obj:
    df[x].fillna(df[x].mode()[0], inplace = True)

In [10]:
i = 0
for x in range(len(df.columns)):
    if df.iloc[:,x].isnull().sum() > 0:
        i += 1
print(i)

5

In [11]:
null_com = ['GarageYrBlt', 'GarageFinish', 'GarageQual', 'GarageCond']

In [12]:
for x in null_com:
    df[x].fillna(0, inplace=True)

In [13]:
for x in range(df.shape[0]):
    for y in null_com:
        if df.iloc[x,df.columns.get_loc("GarageType")] == 'No':
            df.iloc[x,df.columns.get_loc(y)] = 0
        elif df.iloc[x,df.columns.get_loc("GarageType")] != 'No' and df.iloc[x,df.columns.get_loc(y)] == 'No':
            df.iloc[x,df.columns.get_loc(y)] = df[y].median()

In [14]:
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice        float64
Length: 81, dtype: object

In [15]:
columns_numeric = list(df.dtypes[(df.dtypes=='int64') | (df.dtypes=='float64') ].index)
len(columns_numeric)

38

In [16]:
columns_object = list(df.dtypes[df.dtypes=='object'].index)
len(columns_object)

43

In [17]:
df[columns_numeric].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 0 to 1458
Data columns (total 38 columns):
Id               2919 non-null int64
MSSubClass       2919 non-null int64
LotFrontage      2919 non-null float64
LotArea          2919 non-null int64
OverallQual      2919 non-null int64
OverallCond      2919 non-null int64
YearBuilt        2919 non-null int64
YearRemodAdd     2919 non-null int64
MasVnrArea       2919 non-null float64
BsmtFinSF1       2919 non-null float64
BsmtFinSF2       2919 non-null float64
BsmtUnfSF        2919 non-null float64
TotalBsmtSF      2919 non-null float64
1stFlrSF         2919 non-null int64
2ndFlrSF         2919 non-null int64
LowQualFinSF     2919 non-null int64
GrLivArea        2919 non-null int64
BsmtFullBath     2919 non-null float64
BsmtHalfBath     2919 non-null float64
FullBath         2919 non-null int64
HalfBath         2919 non-null int64
BedroomAbvGr     2919 non-null int64
KitchenAbvGr     2919 non-null int64
TotRmsAbvGrd     2919 non-null int64
Fireplaces       2919 non-null int64
GarageYrBlt      2919 non-null float64
GarageCars       2919 non-null float64
GarageArea       2919 non-null float64
WoodDeckSF       2919 non-null int64
OpenPorchSF      2919 non-null int64
EnclosedPorch    2919 non-null int64
3SsnPorch        2919 non-null int64
ScreenPorch      2919 non-null int64
PoolArea         2919 non-null int64
MiscVal          2919 non-null int64
MoSold           2919 non-null int64
YrSold           2919 non-null int64
SalePrice        1460 non-null float64
dtypes: float64(12), int64(26)
memory usage: 969.4 KB

In [18]:
df[columns_object].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 0 to 1458
Data columns (total 43 columns):
MSZoning         2919 non-null object
Street           2919 non-null object
Alley            2919 non-null object
LotShape         2919 non-null object
LandContour      2919 non-null object
Utilities        2919 non-null object
LotConfig        2919 non-null object
LandSlope        2919 non-null object
Neighborhood     2919 non-null object
Condition1       2919 non-null object
Condition2       2919 non-null object
BldgType         2919 non-null object
HouseStyle       2919 non-null object
RoofStyle        2919 non-null object
RoofMatl         2919 non-null object
Exterior1st      2919 non-null object
Exterior2nd      2919 non-null object
MasVnrType       2919 non-null object
ExterQual        2919 non-null object
ExterCond        2919 non-null object
Foundation       2919 non-null object
BsmtQual         2919 non-null object
BsmtCond         2919 non-null object
BsmtExposure     2919 non-null object
BsmtFinType1     2919 non-null object
BsmtFinType2     2919 non-null object
Heating          2919 non-null object
HeatingQC        2919 non-null object
CentralAir       2919 non-null object
Electrical       2919 non-null object
KitchenQual      2919 non-null object
Functional       2919 non-null object
FireplaceQu      2919 non-null object
GarageType       2919 non-null object
GarageFinish     2919 non-null object
GarageQual       2919 non-null object
GarageCond       2919 non-null object
PavedDrive       2919 non-null object
PoolQC           2919 non-null object
Fence            2919 non-null object
MiscFeature      2919 non-null object
SaleType         2919 non-null object
SaleCondition    2919 non-null object
dtypes: object(43)
memory usage: 1.1+ MB

# Feature selection

In [19]:
""""for x in columns_object:
    temp = pd.get_dummies(df[x])
    temp['SalePrice'] = df['SalePrice']
    print(x)
    print(temp.corr()['SalePrice'])
    print()"""

'"for x in columns_object:\n    temp = pd.get_dummies(df[x])\n    temp[\'SalePrice\'] = df[\'SalePrice\']\n    print(x)\n    print(temp.corr()[\'SalePrice\'])\n    print()'

In [20]:
df2 = df.copy()
for x in columns_object:
    temp = pd.get_dummies(df2[x],prefix=x)
    df2 = pd.concat([df2,temp],axis=1)
    df2.drop(x,axis=1,inplace=True)
df2.shape

(2919, 304)

In [21]:
df2.drop(['Id'],axis=1,inplace=True)

In [22]:
df2.shape

(2919, 303)

In [23]:
x = df2.drop(['SalePrice'],axis=1)

In [24]:
y = df2['SalePrice']

In [25]:
corr = x.corr(method='pearson')

In [26]:
columns = np.full((corr.shape[0],), True, dtype=bool)
for i in range(corr.shape[0]):
    for j in range(i+1, corr.shape[0]):
        if corr.iloc[i,j] >= 0.9:
            if columns[j]:
                columns[j] = False
selected_columns = x.columns[columns]
x2 = x[selected_columns]

In [27]:
x[selected_columns]

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal
0,60,65.0,8450,7,5,2003,2003,196.0,706.0,0.0,...,0,0,0,0,1,0,0,0,0,1
1,20,80.0,9600,6,8,1976,1976,0.0,978.0,0.0,...,0,0,0,0,1,0,0,0,0,1
2,60,68.0,11250,7,5,2001,2002,162.0,486.0,0.0,...,0,0,0,0,1,0,0,0,0,1
3,70,60.0,9550,7,5,1915,1970,0.0,216.0,0.0,...,0,0,0,0,1,1,0,0,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655.0,0.0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,160,21.0,1936,4,7,1970,1970,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,1
1455,160,21.0,1894,4,5,1970,1970,0.0,252.0,0.0,...,0,0,0,0,1,1,0,0,0,0
1456,20,160.0,20000,5,7,1960,1996,0.0,1224.0,0.0,...,0,0,0,0,1,1,0,0,0,0
1457,85,62.0,10441,5,5,1992,1992,0.0,337.0,0.0,...,0,0,0,0,1,0,0,0,0,1
1458,60,74.0,9627,7,5,1993,1994,94.0,758.0,0.0,...,0,0,0,0,1,0,0,0,0,1

In [28]:
x2_train = x2.iloc[:1460,:]
y_train = y.iloc[:1460]

In [29]:
df3 = x2.copy()

In [30]:
corr = df3.corr(method='pearson')['SalePrice']

In [31]:
flag = 0
for x in range(len(corr)):
    if corr[x] < 0.05 and corr[x] > -0.05:
        flag += 1
        print(f"Dropping column: {df2.columns[x]}: {corr[x]}")
        df3 = df3.drop([x2.columns[x]], axis=1)
        print()
print(f"flag: {flag}")

Dropping column: BsmtFinSF2: -0.011378121450215216

Dropping column: LowQualFinSF: -0.02560613000068015

Dropping column: BsmtHalfBath: -0.016844154297359294

Dropping column: 3SsnPorch: 0.04458366533574792

Dropping column: MiscVal: -0.02118957964030379

Dropping column: MoSold: 0.04643224522381936

Dropping column: YrSold: -0.028922585168730426

Dropping column: MSZoning_RM: -0.04103553550004982

Dropping column: Street_Grvl: 0.04103553550004989

Dropping column: Alley_No: -0.027655379955633733

Dropping column: LotShape_IR2: 0.036720475499535554

Dropping column: LandContour_HLS: 0.04552825032749539

Dropping column: LandContour_Low: -0.02754457933083911

Dropping column: LandContour_Lvl: 0.014314296147248953

Dropping column: Utilities_AllPub: -0.014314296147248952

Dropping column: Utilities_NoSeWa: 0.004144823294072492

Dropping column: LotConfig_CulDSac: -0.0068588907827759355

Dropping column: LotConfig_FR2: 0.018185562475503233

Dropping column: LandSlope_Gtl: 0.042981159944370934

Dropping column: LandSlope_Mod: 0.027997864142057176

Dropping column: LandSlope_Sev: 0.01906564951350564

Dropping column: Neighborhood_Blmngtn: -0.020250412762982277

Dropping column: Neighborhood_Edwards: 0.035939622294684025

Dropping column: Neighborhood_NAmes: -0.03790973990405031

Dropping column: Neighborhood_NPkVill: 0.023482773020255355

Dropping column: Neighborhood_Sawyer: 0.014560153318488835

Dropping column: Condition1_Norm: 0.0420168990854169

Dropping column: Condition1_PosA: 0.04954116844794432

Dropping column: Condition1_PosN: -0.046651271352762445

Dropping column: Condition1_RRAe: 0.005892711711544447

Dropping column: Condition1_RRAn: 0.004583875135268431

Dropping column: Condition1_RRNe: 0.02323633312450878

Dropping column: Condition1_RRNn: -0.0347079324783958

Dropping column: Condition2_Artery: -0.048334821003573336

Dropping column: Condition2_Feedr: 0.030676288435637716

Dropping column: Condition2_Norm: 0.04749723328144454

Dropping column: Condition2_PosA: 0.048481102335697475

Dropping column: Condition2_PosN: 0.0029929320927850563

Dropping column: Condition2_RRAe: -0.014510444733969317

Dropping column: Condition2_RRAn: -0.03925505561469524

Dropping column: BldgType_Twnhs: 0.0038043834533088893

Dropping column: HouseStyle_1Story: 0.036525722375987446

Dropping column: HouseStyle_2.5Fin: -0.025855674595624382

Dropping column: HouseStyle_SFoyer: -0.03864543349361034

Dropping column: HouseStyle_SLvl: 0.016433478287942123

Dropping column: RoofStyle_Gable: -0.035121434493649024

Dropping column: RoofStyle_Hip: -0.0003083190938173009

Dropping column: RoofStyle_Mansard: 0.020557102562781857

Dropping column: RoofStyle_Shed: -0.006896912615805739

Dropping column: RoofMatl_CompShg: 0.01997049884253312

Dropping column: RoofMatl_Membran: -0.00030368281007855767

Dropping column: RoofMatl_Metal: -0.01447912689239202

Dropping column: RoofMatl_Roll: 0.0049208112142087096

Dropping column: RoofMatl_Tar&Grv: 0.04464291700440552

Dropping column: Exterior1st_AsbShng: -0.026676602032987568

Dropping column: Exterior1st_BrkComm: 0.032371390691589993

Dropping column: Exterior1st_BrkFace: -0.02502829458155547

Dropping column: Exterior1st_HdBoard: 0.026728559393403007

Dropping column: Exterior1st_MetalSd: -0.01771925649284015

Dropping column: Exterior1st_Plywood: 0.036180551287502985

Dropping column: Exterior1st_Stone: -0.029802258156837767

Dropping column: Exterior2nd_AsbShng: -0.024524407793441318

Dropping column: Exterior2nd_AsphShn: -0.04737690972154203

Dropping column: Exterior2nd_Brk Cmn: 0.024758995691036425

Dropping column: Exterior2nd_BrkFace: -0.02502829458155547

Dropping column: Exterior2nd_HdBoard: 0.04551926433972633

Dropping column: Exterior2nd_MetalSd: -0.016753527668945715

Dropping column: Exterior2nd_Other: -0.04241569231469932

Dropping column: Exterior2nd_Stone: -0.04032943564551994

Dropping column: Exterior2nd_Stucco: -0.044393863680548006

Dropping column: ExterQual_Ex: 0.011663132217102032

Dropping column: ExterQual_TA: -0.03442364705471768

Dropping column: Foundation_BrkTil: -0.01210263077585328

Dropping column: Foundation_CBlock: 0.0027114775829150265

Dropping column: BsmtCond_No: 0.043493083940889174

Dropping column: BsmtFinType1_BLQ: 0.041961566284397095

Dropping column: BsmtFinType1_LwQ: 7.551406179757809e-05

Dropping column: BsmtFinType1_No: -0.037603947731137635

Dropping column: BsmtFinType1_Rec: -0.03949393653165602

Dropping column: BsmtFinType2_ALQ: -0.03574229301586219

Dropping column: BsmtFinType2_GLQ: -0.020102599035433592

Dropping column: BsmtFinType2_No: -0.02573027910672783

Dropping column: Heating_GasW: -0.030962201406710747

Dropping column: HeatingQC_Gd: -0.047760617694948077

Dropping column: HeatingQC_Po: -0.03755543121243804

Dropping column: Electrical_FuseP: -0.03341995349143347

Dropping column: KitchenQual_Fa: -0.01607254127138059

Dropping column: KitchenQual_Gd: -0.017116418814683152

Dropping column: Functional_Maj2: -0.026085813898164965

Dropping column: Functional_Typ: -0.02397376065437426

Dropping column: FireplaceQu_Fa: -0.029424968522137

Dropping column: GarageType_BuiltIn: 0.03432795990791618

Dropping column: GarageType_Detchd: 0.04329050472499101

Dropping column: GarageType_No: -0.04614170143131847

Dropping column: GarageFinish_Fin: -0.026546429413243006

Dropping column: GarageFinish_Unf: -0.000982975978289857

Dropping column: GarageCond_0: 0.016126572327413147

Dropping column: GarageCond_Ex: 0.01203833986879028

Dropping column: GarageCond_Gd: -0.005151941767351678

Dropping column: PavedDrive_Y: -0.004743556939191924

Dropping column: PoolQC_Fa: -0.04053757752493366

Dropping column: PoolQC_No: 0.02277262150996658

Dropping column: Fence_GdWo: 0.019588066467574435

Dropping column: Fence_MnPrv: 0.041357276088828436

Dropping column: Fence_MnWw: -0.041790840641079345

Dropping column: Fence_No: 0.014371054765972273

Dropping column: MiscFeature_Gar2: -0.027475125928901712

Dropping column: MiscFeature_Othr: -0.034894994917515354

Dropping column: SaleType_CWD: -0.015525374015420043

Dropping column: SaleType_Con: -0.04648019603234449

flag: 110

In [169]:
df3

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtUnfSF,...,Fence_No,MiscFeature_No,MiscFeature_Shed,SaleType_COD,SaleType_New,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Normal,SalePrice
0,60,65.0,8450,7,5,2003,2003,196.0,706.0,150.0,...,1,1,0,0,0,1,0,0,1,208500.0
1,20,80.0,9600,6,8,1976,1976,0.0,978.0,284.0,...,1,1,0,0,0,1,0,0,1,181500.0
2,60,68.0,11250,7,5,2001,2002,162.0,486.0,434.0,...,1,1,0,0,0,1,0,0,1,223500.0
3,70,60.0,9550,7,5,1915,1970,0.0,216.0,540.0,...,1,1,0,0,0,1,1,0,0,140000.0
4,60,84.0,14260,8,5,2000,2000,350.0,655.0,490.0,...,1,1,0,0,0,1,0,0,1,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,160,21.0,1936,4,7,1970,1970,0.0,0.0,546.0,...,1,1,0,0,0,1,0,0,1,NaN
1455,160,21.0,1894,4,5,1970,1970,0.0,252.0,294.0,...,1,1,0,0,0,1,1,0,0,NaN
1456,20,160.0,20000,5,7,1960,1996,0.0,1224.0,0.0,...,1,1,0,0,0,1,1,0,0,NaN
1457,85,62.0,10441,5,5,1992,1992,0.0,337.0,575.0,...,0,0,1,0,0,1,0,0,1,NaN
1458,60,74.0,9627,7,5,1993,1994,94.0,758.0,238.0,...,1,1,0,0,0,1,0,0,1,NaN

In [120]:
x = df3.drop(['SalePrice'],axis=1)

In [121]:
df3['SalePrice'] = y

ValueError: cannot reindex from a duplicate axis

In [87]:
#x=df4.drop(['SalePrice'],axis=1)
#y=df4['SalePrice']

In [88]:
x_train = x.iloc[:1460,:]
y_train = y.iloc[:1460]
x_test = x.iloc[1460:,:]
y_test = y.iloc[1460:]

In [93]:
#with zscore values removed
x_train = x.iloc[:1438,:]
y_train = y.iloc[:1438]
x_test = x.iloc[1438:,:]
y_test = y.iloc[1438:]

In [181]:
from sklearn.ensemble import  RandomForestRegressor as RFR

In [35]:
from sklearn.model_selection import train_test_split

In [89]:
x_tr, x_val, y_tr, y_val = train_test_split(x.iloc[:1460,:], y.iloc[:1460], test_size = 0.3, random_state = 0)

In [94]:
#with zscore values removed
x_tr, x_val, y_tr, y_val = train_test_split(x.iloc[:1438,:], y.iloc[:1438], test_size = 0.3, random_state = 0)

In [37]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_tr)
x_tr_scaled = scaler.transform(x_tr)
x_val_scaled = scaler.transform(x_val)

In [38]:
x_train_scaled = scaler.transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [53]:
df4=df3.copy()

# Z-Score Outliers Elimination

In [66]:
z_list=[]
for col in df3.columns:
    z_score = (df3[col] - df3[col].mean())/df3[col].std()
    z_list.append(z_score)

In [77]:
out = df3[(z_score<-3) | (z_score>3)]
out

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtUnfSF,...,Fence_No,MiscFeature_No,MiscFeature_Shed,SaleType_COD,SaleType_New,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Normal,SalePrice
58,60,66.0,13682,10,5,2006,2006,1031.0,0.0,1410.0,...,1,1,0,0,1,0,0,0,0,438780.0
178,20,63.0,17423,9,5,2008,2009,748.0,1904.0,312.0,...,1,1,0,0,1,0,0,0,0,501837.0
185,75,90.0,22950,10,9,1892,1993,0.0,0.0,1107.0,...,0,1,0,0,0,1,0,0,1,475000.0
349,60,56.0,20431,9,5,2005,2006,870.0,1410.0,438.0,...,1,1,0,0,1,0,0,0,0,437154.0
389,60,96.0,12474,10,5,2007,2008,272.0,1280.0,402.0,...,1,1,0,0,1,0,0,0,0,426000.0
440,20,105.0,15431,10,5,2008,2008,200.0,1767.0,788.0,...,1,1,0,0,0,1,0,0,1,555000.0
473,20,110.0,14977,8,5,2006,2007,304.0,1350.0,626.0,...,1,1,0,0,1,0,0,0,0,440000.0
496,20,0.0,12692,8,5,1992,1993,0.0,1231.0,1969.0,...,1,1,0,0,0,1,0,0,1,430000.0
527,60,67.0,14948,9,5,2008,2008,268.0,1330.0,122.0,...,1,1,0,0,1,0,0,0,0,446261.0
591,60,97.0,13478,10,5,2008,2008,420.0,1338.0,384.0,...,1,1,0,0,0,0,0,0,1,451950.0
664,20,49.0,20896,8,5,2005,2006,0.0,1721.0,356.0,...,1,1,0,0,1,0,0,0,0,423000.0
691,60,104.0,21535,10,6,1994,1995,1170.0,1455.0,989.0,...,1,1,0,0,0,1,0,0,1,755000.0
769,60,47.0,53504,8,5,2003,2003,603.0,1416.0,234.0,...,1,1,0,0,0,1,0,0,1,538000.0
798,60,104.0,13518,9,5,2008,2009,860.0,0.0,1926.0,...,1,1,0,0,1,0,0,0,0,485000.0
803,60,107.0,13891,9,5,2008,2009,424.0,0.0,1734.0,...,1,1,0,0,1,0,0,0,0,582933.0
898,20,100.0,12919,9,5,2009,2010,760.0,2188.0,142.0,...,1,1,0,0,1,0,0,0,0,611657.0
1046,60,85.0,16056,9,5,2005,2006,208.0,240.0,1752.0,...,1,1,0,0,1,0,0,0,0,556581.0
1142,60,77.0,9965,8,5,2006,2007,340.0,1150.0,316.0,...,1,1,0,0,1,0,0,0,0,424870.0
1169,60,118.0,35760,10,5,1995,1996,1378.0,1387.0,543.0,...,1,1,0,0,0,1,0,0,1,625000.0
1182,60,160.0,15623,10,5,1996,1996,0.0,2096.0,300.0,...,0,1,0,0,0,1,1,0,0,745000.0
1243,20,107.0,13891,10,5,2006,2006,0.0,1386.0,690.0,...,1,1,0,0,1,0,0,0,0,465000.0
1373,20,0.0,11400,10,5,2001,2002,705.0,1282.0,1351.0,...,1,1,0,0,0,1,0,0,1,466500.0

In [118]:
for i in out.index:
    df3 = df3.drop(i,axis=0)

# Low Variance Filter

In [76]:
for t in range(1,19):
    df3 = x2.copy()
    df3['SalePrice'] = y
    corr = df3.corr(method='pearson')['SalePrice']
    flag = 0
    for x in range(len(corr)):
        if corr[x] < 0.05 and corr[x] > -0.05:
            flag += 1

            df3 = df3.drop([x2.columns[x]], axis=1)
    print(t/100)
    # print(f"{flag}")
    #################################################3
    df11 = df3.copy()
    var = df11.var()
    i = 0
    for x in range(len(var)):
        if var[x] < t/1000:
            i += 1
            # print(var[x:x+1])
            df11 = df11.drop([df3.columns[x]], axis=1)
            # print(f"dropping: {df3.columns[x]}")
    # print(i)
    ###################################################

0.01
0.02
0.03
0.04
0.05
0.06
0.07
0.08
0.09
0.1
0.11
0.12
0.13
0.14
0.15
0.16
0.17
0.18

In [34]:
import sklearn.metrics as metrics
from sklearn.metrics import mean_squared_log_error

In [245]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_val, y_pred02))
print('Mean Squared Error:', metrics.mean_squared_error(y_val, y_pred02))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_val, y_pred02)))
print('Root Mean Log Squared Error:', np.sqrt(mean_squared_log_error(y_val, y_pred02)))

Mean Absolute Error: 17035.701145357685
Mean Squared Error: 939564805.420096
Root Mean Squared Error: 30652.3213708211
Root Mean Log Squared Error: 0.13351863256858015

In [247]:
from sklearn.model_selection import RandomizedSearchCV

In [248]:
RSCV = RandomizedSearchCV(estimator=model,param_distributions=paragrid,cv=5,n_iter=100)

In [250]:
RSCV.fit(x_tr_scaled,y_tr)

RandomizedSearchCV(cv=5, error_score='raise-deprecating',
                   estimator=RandomForestRegressor(bootstrap=True,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators='warn',
                                                   n_jobs=None, oob_score=False,
                                                   random_sta...0,
                                                   warm_start=False),
                   iid='warn', n_iter=100, n_jobs=None,
                   param_distributions={'max_depth': [1, 2, 3, 4, 5, 10, 20],
                                        'min_samples_leaf': [2, 3, 4, 5, 6],
                                        'min_samples_split': [3, 4, 5, 6, 7, 8,
                                                              9, 10],
                                        'n_estimators': [50, 75, 80, 90, 100,
                                                         110, 120, 125, 130,
                                                         140, 150, 200, 300,
                                                         400, 500]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [202]:
RSCV.best_estimator_

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=20,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=2, min_samples_split=6,
                      min_weight_fraction_leaf=0.0, n_estimators=110,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [212]:
modelRFR = RFR(bootstrap=True, criterion='mse', max_depth=20,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=2, min_samples_split=6,
                      min_weight_fraction_leaf=0.0, n_estimators=110,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [213]:
modelRFR.fit(x_tr,y_tr)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=20,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=2, min_samples_split=6,
                      min_weight_fraction_leaf=0.0, n_estimators=110,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [214]:
modelRFR.score(x_val,y_val)

0.8569901768385186

# XGB

In [251]:
from xgboost import XGBRFRegressor as XGBRF

In [260]:
model = XGBRF()

In [263]:
paragrid = {'learning_rate': [0.01,0.02,0.1,0.2,0.3],
            'max_depth': [5,6,7,8,9,10,11,12],
            'n_estimators': [50,75,100,125,150,175,200],
            'reg': ['squarederror']}

In [255]:
RSCV = RandomizedSearchCV(estimator=model,param_distributions=paragrid,cv=5,n_iter=100)

In [215]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_val, y_pred02))
print('Mean Squared Error:', metrics.mean_squared_error(y_val, y_pred02))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_val, y_pred02)))
print('Root Mean Log Squared Error:', np.sqrt(mean_squared_log_error(y_val, y_pred02)))

Mean Absolute Error: 17035.701145357685
Mean Squared Error: 939564805.420096
Root Mean Squared Error: 30652.3213708211
Root Mean Log Squared Error: 0.13351863256858015

# GB

In [95]:
from sklearn.ensemble import GradientBoostingRegressor as GB

In [96]:
modelGB = GB(n_estimators=1400, 
             random_state=2, 
             min_samples_split=10, 
             min_samples_leaf=1, 
             max_features='sqrt', 
             max_depth=20, 
             learning_rate=0.01)

In [97]:
modelGB.fit(x_tr,y_tr)
modelGB.score(x_val,y_val)

0.9070458444156443

In [117]:
print('Root Mean Log Squared Error:', np.sqrt(mean_squared_log_error(y_val, y_predict)))

ValueError: Found input variables with inconsistent numbers of samples: [432, 1438]

In [116]:
y_predict = modelGB.predict(x_train)

In [113]:
df_submit = pd.DataFrame({'Id':df_0.iloc[1438:,0],'SalePrice':y_predict})

ValueError: array length 1438 does not match index length 1481

In [233]:
df_submit

        Id      SalePrice
1459  1460  208267.737144
0     1461  166862.517077
1     1462  215337.839997
2     1463  172650.165805
3     1464  284948.603585
...    ...            ...
1454  2915  175923.235813
1455  2916  207717.232779
1456  2917  262954.621077
1457  2918  137049.528834
1458  2919  147856.140640

[1460 rows x 2 columns]

In [238]:
df_submit = df_submit.drop(1459,axis=0)

In [239]:
df_submit

        Id      SalePrice
0     1461  166862.517077
1     1462  215337.839997
2     1463  172650.165805
3     1464  284948.603585
4     1465  149901.568588
...    ...            ...
1454  2915  175923.235813
1455  2916  207717.232779
1456  2917  262954.621077
1457  2918  137049.528834
1458  2919  147856.140640

[1459 rows x 2 columns]

In [240]:
df_submit.to_csv('Submit_01.csv',index=False)