In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [3]:
df_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
df_train.drop('Cabin',axis=1,inplace=True)   #permanent drop
df_test.drop('Cabin',axis=1,inplace=True)

In [5]:
df_train['Age'].fillna(value=df_train['Age'].mean(),inplace=True)

In [6]:
df_test['Age'].fillna(value=df_train['Age'].mean(),inplace=True)

In [7]:
df_train['Embarked'].fillna(value = df_train['Embarked'].mode()[0],inplace=True)

In [8]:
df_test['Fare'].fillna(value = df_train['Fare'].median(),inplace = True)

In [9]:
df_train.drop(['Name','PassengerId'],axis=1,inplace=True)
PassengerId_test = df_test['PassengerId']     #cause we need passenger id for submission so storing in diff variable
df_test.drop(['Name','PassengerId'],axis=1,inplace=True)

In [10]:
df_train.drop('Ticket',axis=1,inplace=True)
df_test.drop('Ticket',axis=1,inplace=True)

In [11]:
df_train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [12]:
df_train['Male'] = pd.get_dummies(df_train['Sex'],drop_first=True)
df_train.drop('Sex',axis=1,inplace=True)
df_test['Male'] = pd.get_dummies(df_test['Sex'],drop_first=True)
df_test.drop('Sex',axis=1,inplace=True)

In [13]:
temp = pd.get_dummies(df_train['Embarked'],prefix='Embarked')
df_train_final = pd.concat([df_train,temp],axis=1)
df_train_final.drop('Embarked',axis=1,inplace=True)

In [14]:
temp2 = pd.get_dummies(df_test['Embarked'],prefix='Embarked')
df_test_final = pd.concat([df_test,temp2],axis=1)
df_test_final.drop('Embarked',axis=1,inplace=True)

In [15]:
df_train_final.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Male,Embarked_C,Embarked_Q,Embarked_S
0,0,3,22.0,1,0,7.2500,1,0,0,1
1,1,1,38.0,1,0,71.2833,0,1,0,0
2,1,3,26.0,0,0,7.9250,0,0,0,1
3,1,1,35.0,1,0,53.1000,0,0,0,1
4,0,3,35.0,0,0,8.0500,1,0,0,1

In [16]:
df_test_final.head()

,Pclass,Age,SibSp,Parch,Fare,Male,Embarked_C,Embarked_Q,Embarked_S
0,3,34.5,0,0,7.8292,1,0,1,0
1,3,47.0,1,0,7.0000,0,0,0,1
2,2,62.0,0,0,9.6875,1,0,1,0
3,3,27.0,0,0,8.6625,1,0,0,1
4,3,22.0,1,1,12.2875,0,0,0,1

In [17]:
x = df_train_final[['Pclass','Age','SibSp','Parch','Fare','Male','Embarked_C','Embarked_Q','Embarked_S']]
y = df_train_final['Survived']

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)

In [20]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_train)
x_train_scaled = scaler.transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [21]:
from sklearn.svm import SVC

In [22]:
refmodel = SVC()

In [23]:
paragrid = { 'C':[1,2,5,10,20],
    'kernel':['rbf','poly'],
    }

In [24]:
from sklearn.model_selection import RandomizedSearchCV

In [25]:
RSCV = RandomizedSearchCV(estimator=refmodel,param_distributions=paragrid,cv=5)

In [ ]:
RSCV.fit(x_train,y_train)

C:\Users\athar\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\athar\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\athar\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\athar\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\athar\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\athar\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)